$width-min: 768px;
$width-bg: 1440px;

$white: rgb(250, 250, 250); // hls(0, 0%, 98%);
$grey: rgb(105, 105, 105); // hls(0, 0%, 41%);
$black: rgb(20, 20, 20); // hls(0, 0%, 8%);

$fontSize: 18px;

$fontWeight: 500;
$fontWeightStrong: 700;
